# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dictionaries/
local_package/__pycache__/
venv/Include/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/adodbapi/__pycache__/
venv/Lib/site-packages/adodbapi/examples/__pycache__/
venv/Lib/site-packages/adodbapi/test/__pycache__/
venv/Lib/site-packages/bs4/__pycache__/
venv/Lib/site-packages/bs4/builder/__pycache__/
venv/Lib/site-packages/bs4/tests/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/click/__pycache__/
venv/Lib/site-packages/credentials/__pycache__/
venv/Lib/site-packages/dateutil/__pycache__/
venv/Lib/site-packages/dateutil/parser/__pycache__/
venv/Lib/site-packages/dateutil/tz/__pycache__/
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/
venv/Lib/site-packages/future/__pycache__/
venv/Lib/site-packages/future/standard_library/__pycache__/
venv/Lib/site-packages/future/utils/__pycache__/
venv/Lib/site-packages/get/__pycache__/
venv/Lib/site-packages/google_speech/__pycache__/
venv/Lib/site-packages/gtts/__pycache__/
venv/Lib/site-packages/gtts/tests/__pycache__/
venv/Lib/site-packages/gtts/tokenizer/__pycache__/
venv/Lib/site-packages/gtts_token/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/imap_tools/__pycache__/
venv/Lib/site-packages/imapclient/__pycache__/
venv/Lib/site-packages/imapclient/examples/__pycache__/
venv/Lib/site-packages/imapclient/test/__pycache__/
venv/Lib/site-packages/isapi/__pycache__/
venv/Lib/site-packages/isapi/samples/__pycache__/
venv/Lib/site-packages/isapi/test/__pycache__/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/compat/tests/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/random/tests/data/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/_private/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-p
ackages/numpy/tests/__pycache__/
venv/Lib/site-packages/pandas/__pycache__/
venv/Lib/site-packages/pandas/_config/__pycache__/
venv/Lib/site-packages/pandas/_libs/__pycache__/
venv/Lib/site-packages/pandas/_libs/tslibs/__pycache__/
venv/Lib/site-packages/pandas/api/__pycache__/
venv/Lib/site-packages/pandas/api/extensions/__pycache__/
venv/Lib/site-packages/pandas/api/types/__pycache__/
venv/Lib/site-packages/pandas/arrays/__pycache__/
venv/Lib/site-packages/pandas/compat/__pycache__/
venv/Lib/site-packages/pandas/compat/numpy/__pycache__/
venv/Lib/site-packages/pandas/core/__pycache__/
venv/Lib/site-packages/pandas/core/arrays/__pycache__/
venv/Lib/site-packages/pandas/core/computation/__pycache__/
venv/Lib/site-packages/pandas/core/dtypes/__pycache__/
venv/Lib/site-packages/pandas/core/groupby/__pycache__/
venv/Lib/site-packages/pandas/core/indexes/__pycache__/
venv/Lib/site-packages/pandas/core/internals/__pycache__/
venv/Lib/site-packages/pandas/core/ops/__pycache__/
venv/Lib/site-packages/pandas/core/reshape/__pycache__/
venv/Lib/site-packages/pandas/core/sparse/__pycache__/
venv/Lib/site-packages/pandas/core/tools/__pycache__/
venv/Lib/site-packages/pandas/core/util/__pycache__/
venv/Lib/site-packages/pandas/errors/__pycache__/
venv/Lib/site-packages/pandas/io/__pycache__/
venv/Lib/site-packages/pandas/io/clipboard/__pycache__/
venv/Lib/site-packages/pandas/io/excel/__pycache__/
venv/Lib/site-packages/pandas/io/formats/__pycache__/
venv/Lib/site-packages/pandas/io/json/__pycache__/
venv/Lib/site-packages/pandas/io/msgpack/__pycache__/
venv/Lib/site-packages/pandas/io/sas/__pycache__/
venv/Lib/site-packages/pandas/plotting/__pycache__/
venv/Lib/site-packages/pandas/plotting/_matplotlib/__pycache__/
venv/Lib/site-packages/pandas/tests/__pycache__/
venv/Lib/site-packages/pandas/tests/api/__pycache__/
venv/Lib/site-packages/pandas/tests/arithmetic/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/categorical/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/sparse/__pycache__/
venv/Lib/site-packages/pandas/tests/computation/__pycache__/
venv/Lib/site-packages/pandas/tests/config/__pycache__/
venv/Lib/site-packages/pandas/tests/dtypes/__pycache__/
venv/Lib/site-packages/pandas/tests/dtypes/cast/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/arrow/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/base/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/decimal/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/json/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/list/__pycache__/
venv/Lib/site-packages/pandas/tests/frame/__pycache__/
venv/Lib/site-packages/pandas/tests/generic/__pycache__/
venv/Lib/site-packages/pandas/tests/groupby/__pycache__/
venv/Lib/site-packages/pandas/tests/groupby/aggregate/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/datetimes/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/multi/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/period/__pycache__/
venv/Lib/sit
e-packages/pandas/tests/indexes/timedeltas/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/multiindex/__pycache__/
venv/Lib/site-packages/pandas/tests/internals/__pycache__/
venv/Lib/site-packages/pandas/tests/io/__pycache__/
venv/Lib/site-packages/pandas/tests/io/excel/__pycache__/
venv/Lib/site-packages/pandas/tests/io/formats/__pycache__/
venv/Lib/site-packages/pandas/tests/io/json/__pycache__/
venv/Lib/site-packages/pandas/tests/io/msgpack/__pycache__/
venv/Lib/site-packages/pandas/tests/io/parser/__pycache__/
venv/Lib/site-packages/pandas/tests/io/pytables/__pycache__/
venv/Lib/site-packages/pandas/tests/io/sas/__pycache__/
venv/Lib/site-packages/pandas/tests/plotting/__pycache__/
venv/Lib/site-packages/pandas/tests/reductions/__pycache__/
venv/Lib/site-packages/pandas/tests/resample/__pycache__/
venv/Lib/site-packages/pandas/tests/reshape/__pycache__/
venv/Lib/site-packages/pandas/tests/reshape/merge/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/period/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/timedelta/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/timestamp/__pycache__/
venv/Lib/site-packages/pandas/tests/series/__pycache__/
venv/Lib/site-packages/pandas/tests/series/indexing/__pycache__/
venv/Lib/site-packages/pandas/tests/sparse/__pycache__/
venv/Lib/site-packages/pandas/tests/sparse/frame/__pycache__/
venv/Lib/site-packages/pandas/tests/sparse/series/__pycache__/
venv/Lib/site-packages/pandas/tests/tools/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/frequencies/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/holiday/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/offsets/__pycache__/
venv/Lib/site-packages/pandas/tests/tslibs/__pycache__/
venv/Lib/site-packages/pandas/tests/util/__pycache__/
venv/Lib/site-packages/pandas/tests/window/__pycache__/
venv/Lib/site-packages/pandas/tseries/__pycache__/
venv/Lib/site-packages/pandas/util/__pycache__/
venv/Lib/site-packages/post/__pycache__/
venv/Lib/site-packages/psutil/__pycache__/
venv/Lib/site-packages/psutil/tests/__pycache__/
venv/Lib/site-packages/public/__pycache__/
venv/Lib/site-packages/pyglet/__pycache__/
venv/Lib/site-packages/pyglet/app/__pycache__/
venv/Lib/site-packages/pyglet/canvas/__pycache__/
venv/Lib/site-packages/pyglet/extlibs/__pycache__/
venv/Lib/site-packages/pyglet/font/__pycache__/
venv/Lib/site-packages/pyglet/gl/__pycache__/
venv/Lib/site-packages/pyglet/graphics/__pycache__/
venv/Lib/site-packages/pyglet/image/__pycache__/
venv/Lib/site-packages/pyglet/image/codecs/__pycache__/
venv/Lib/site-packages/pyglet/input/__pycache__/
venv/Lib/site-packages/pyglet/libs/__pycache__/
venv/Lib/site-packages/pyglet/libs/darwin/__pycache__/
venv/Lib/site-packages/pyglet/libs/darwin/cocoapy/__pycache__/
venv/Lib/site-packages/pyglet/libs/win32/__pycache__/
venv/Lib/site-packages/pyglet/libs/x11/__pycache__/
venv/Lib/site-packages/pyglet/media/__pycache__/
venv/Lib/site-packages/pyglet/media/codecs/__pycache__/
venv/Lib/site-packages/pyglet/media/codecs/ffmpeg_lib/__pycache__/
venv/Lib/site-packages/pyglet/media/drivers/__pycache__/
venv/Lib/site-packages/pyglet/media/drivers/directsound/__pycache__/
venv/Lib/site-packages/pyglet/media/drivers/openal/__pycache__/
venv/Lib/site-packages/pyglet/media/drivers/pulse/__pycache__/
venv/Lib/site-packages/pyglet/model/__pycache__/
venv/Lib/site-packages/pyglet/model/codecs/__pycache__/
venv/Lib/site-packages/pyglet/text/__pycache__/
venv/Lib/site-packages/pyglet/text/formats/__pycache__/
venv/Lib/site-packages/pyglet/window/__pycache__/
venv/Lib/site-packages/pyglet/window/cocoa/__pycache__/
venv/Lib/site-packages/pyglet/window/win32/__pycache__/
venv/Lib/site-packages/pyglet/window/xlib/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/Demos/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/Demos/app/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/Demos/ocx/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/debugger/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/dialogs/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/docking/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/framework/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/framework/editor/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/framework/editor/color/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/idle/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/mfc/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/scintilla/__pycache__/
venv/Lib/site-packages/pythonwin/pywin/tools/__pycache__/
venv/Lib/site-packages/pyttsx3/__pycache__/
venv/Lib/site-packages/pyttsx3/drivers/__pycache__/
venv/Lib/site-packages/pytz/__pycache__/
venv/Lib/site-packages/query_string/__pycache__/
venv/Lib/site-packages/request/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/selenium/__pycache__/
venv/Lib/site-packages/selenium/common/__pycache__/
venv/Lib/site-packages/selenium/webdriver/__pycache__/
venv/Lib/site-packages/selenium/webdriver/android/__pycache__/
venv/Lib/site-packages/selenium/webdriver/blackberry/__pycache__/
venv/Lib/site-packages/selenium/webdriver/chrome/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/actions/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/html5/__pycache__/
venv/Lib/site-packages/selenium/webdriver/edge/__pycache__/
venv/Lib/site-packages/selenium/webdriver/firefox/__pycache__/
venv/Lib/site-packages/selenium/webdriver/ie/__pycache__/
venv/Lib/site-packages/selenium/webdriver/opera/__pycache__/
venv/Lib/site-packages/selenium/webdriver/phantomjs/__pycache__/
venv/Lib/site-packages/selenium/webdriver/remote/__pycache__/
venv/Lib/site-packages/selenium/webdriver/safari/__pycache__/
venv/Lib/site-packages/selenium/webdriver/support/__pycache__/
venv/Lib/site-packages/selenium/webdriver/webkitgtk/__pycache__/
venv/Lib/site-packages/soupsieve/__pycache__/
venv/Lib/site-packages/tests/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packa
ges/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/web_cache/__pycache__/
venv/Lib/site-packages/win32/Demos/__pycache__/
venv/Lib/site-packages/win32/Demos/c_extension/__pycache__/
venv/Lib/site-packages/win32/Demos/dde/__pycache__/
venv/Lib/site-packages/win32/Demos/pipes/__pycache__/
venv/Lib/site-packages/win32/Demos/security/__pycache__/
venv/Lib/site-packages/win32/Demos/security/sspi/__pycache__/
venv/Lib/site-packages/win32/Demos/service/__pycache__/
venv/Lib/site-packages/win32/Demos/win32wnet/__pycache__/
venv/Lib/site-packages/win32/lib/__pycache__/
venv/Lib/site-packages/win32/scripts/VersionStamp/__pycache__/
venv/Lib/site-packages/win32/scripts/__pycache__/
venv/Lib/site-packages/win32/scripts/ce/__pycache__/
venv/Lib/site-packages/win32/test/__pycache__/
venv/Lib/site-packages/win32com/__pycache__/
venv/Lib/site-packages/win32com/client/__pycache__/
venv/Lib/site-packages/win32com/demos/__pycache__/
venv/Lib/site-packages/win32com/makegw/__pycache__/
venv/Lib/site-packages/win32com/server/__pycache__/
venv/Lib/site-packages/win32com/servers/__pycache__/
venv/Lib/site-packages/win32com/test/__pycache__/
venv/Lib/site-packages/win32comext/adsi/__pycache__/
venv/Lib/site-packages/win32comext/adsi/demos/__pycache__/
venv/Lib/site-packages/win32comext/authorization/__pycache__/
venv/Lib/site-packages/win32comext/authorization/demos/__pycache__/
venv/Lib/site-packages/win32comext/axcontrol/__pycache__/
venv/Lib/site-packages/win32comext/axdebug/__pycache__/
venv/Lib/site-packages/win32comext/axscript/__pycache__/
venv/Lib/site-packages/win32comext/axscript/client/__pycache__/
venv/Lib/site-packages/win32comext/axscript/server/__pycache__/
venv/Lib/site-packages/win32comext/axscript/test/__pycache__/
venv/Lib/site-packages/win32comext/bits/__pycache__/
venv/Lib/site-packages/win32comext/bits/test/__pycache__/
venv/Lib/site-packages/win32comext/directsound/__pycache__/
venv/Lib/site-packages/win32comext/directsound/test/__pycache__/
venv/Lib/site-packages/win32comext/ifilter/__pycache__/
venv/Lib/site-packages/win32comext/ifilter/demo/__pycache__/
venv/Lib/site-packages/win32comext/internet/__pycache__/
venv/Lib/site-packages/win32comext/mapi/__pycache__/
venv/Lib/site-packages/win32comext/mapi/demos/__pycache__/
venv/Lib/site-packages/win32comext/propsys/__pycache__/
venv/Lib/site-packages/win32comext/propsys/test/__pycache__/
venv/Lib/site-packages/win32comext/shell/__pycache__/
venv/Lib/site-packages/win32comext/shell/demos/__pycache__/
venv/Lib/site-packages/win32comext/shell/demos/servers/__pycache__/
venv/Lib/site-packages/win32comext/shell/test/__pycache__/
venv/Lib/site-packages/win32comext/taskscheduler/__pycache__/
venv/Lib/site-packages/win32comext/taskscheduler/test/__pycache__/
venv/Scripts/__pycache__/
voice/__pycache__/
resources/backup/
